* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.eot');
    src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Medium.woff2') format('woff2'),
    url('../fonts/Metropolis-Medium.woff') format('woff'),
    url('../fonts/Metropolis-Medium.ttf') format('truetype'),
    url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


header {
    padding-top: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    width: 100%;
}

.container {
    max-width: 1220px;
    margin: auto;
}

header .container.logo_soc {

    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #464646;
    padding-bottom: 35px;
}

.d-flex {
    display: flex;
}

header form {
    height: 42px;
    background-color: #ebebeb;
    width: 208px;
    border-radius: 4px;
    font: 15px/15px 'Metropolis';

}

header form input {
    width: 70%;
    height: 42px;
    padding-left: 16px;
    border: none;
    background-color: transparent;
    color: #959595;

}

header form button {
    line-height: 48px;
    width: 25%;
    border: none;
    background-color: transparent;
    text-align: center;
    outline: none;
}

header form button i {
    font-size: 17px;
    color: red;
}

::-webkit-input-placeholder {
    color: #959595;
    font-size: 15px;
    font-family: Metropolis
}

::-moz-placeholder {
    color: #959595;
    font-size: 15px;
    font-family: Metropolis
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #959595;
    font-size: 15px;
    font-family: Metropolis
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #959595;
    font-size: 15px;
    font-family: Metropolis
}


header .button {
    background-color: #252525;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    height: 42px;
    min-width: 169px;
    border-radius: 2px;
    padding-top: 13px;
    font-family: Metropolis;
    font-size: 15px;
    text-transform: uppercase;
}

.button.log {
    background-color: #464646;

}

.button.soc {
    background-color: red;
}

header .button i {
    margin-right: 12px;
}

.nav {
    justify-content: space-between;
    margin-top: 20px;
}


header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
    font-size: 25px;
    color: white;
    margin-right: 18px;
    padding: 0 5px 10px;
    transition: 0.3s;


}

header nav ul {
    list-style: none;
}

.item a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    width: 30px;
    height: 30px;
    background-color: red;
    text-align: center;
    font-size: 19px;
}

.item a i {
    margin-top: 5px;
}

.fab.fa-facebook-f {
    font-size: 25px;
    margin-left: 10px;
}


nav ul li a:hover {
    content: '';
    border-bottom: red solid 4px;
    padding-bottom: 6px;
}

.workouts_img_fon {
    position: relative;
    z-index: 1;
}

.workouts_img .h1 {
    position: absolute;
    z-index: 3;
    top: 250px;
    width: 100%;

}

.workouts_img .fon img {
    width: 100%;
    display: block;
}

.workouts_img_fon h1 {
    display: block;
    text-transform: uppercase;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
    border-bottom: solid 3px red;

}

.all_workouts .all_nav {
    background-color: #000000;
    max-width: 242px;
    padding-top: 25px;
}

.all_nav ul {
    list-style: none;
}

.all_nav ul li {
    margin-bottom: 28px;
    line-height: 0;
}

.all_nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #c2c2c2;
    font-family: Metropolis;
    font-size: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 20px;
    transition: 0.3s;

}

.all_nav ul li a i {
    font-size: 17px;
    margin-right: 15px;
}

.all_nav ul li a:hover{
    content: "";
    background-color: red;
}

.all_nav form{
    margin-top: 10px;
    height: 40px;
    width: 183px;
    margin-left: 20px;
    background-color: white;
    border-radius: 2px;
    font: 15px/15px 'Metropolis';
}

.all_nav form input{
   width: 70%;
    height: 40px;
    padding-left: 16px;
    border: none;
    background-color: transparent;
    color: black;
    position: relative;
    top: 3px;
}

.all_nav form button{
   width: 25%;
    height: 40px;
    padding-left: 16px;
    border: none;
    background-color: transparent;
    position: relative;
    top: 3px;
}

.all_nav form button:before{
    content: "\f002";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: #959595;
    width: 100%;
}
